<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <script src="/js/eventListeners.js" defer></script>
    <title><%= locals.pageTitle %> | <%= locals.appTitle %></title>
  </head>
  <body>
    <%- include("partials/header") %>

    <main>
      <h2>my drive</h2>

      <div class="row gap-s">
        <b>Current Path:</b>
        <span class="row">
          <a href="/drive/root">root</a> <%
          locals.parentFolders.forEach((parentFolder) => { %> /<a
            href="/drive/<%= parentFolder.id %>"
            ><%= parentFolder.name %></a
          >
          <% }) %>
        </span>
      </div>

      <div>
        <h3>Folders</h3>
        <ul>
          <% if (locals.childFolders) { %>

          <% locals.childFolders.forEach((childFolder) => { %>
          <li>
            <div>
              <a href="/drive/<%= childFolder.id %>">
                <%= childFolder.name %>
              </a>
              —
              <button
                class="edit-folder-button"
                data-folder-id="<%= childFolder.id %>"
                data-folder-name="<%= childFolder.name %>"
              >
                Edit
              </button>
            </div>
          </li>

          <% }) %>
          <% } %>
        </ul>
      </div>

      <%- include("partials/forms/create-folder") %>
      <%- include("partials/modals/edit-folder") %>
    </main>
  </body>
</html>
