<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <script src="/js/eventListeners.js" defer></script>
    <title><%= locals.pageTitle %> | <%= locals.appTitle %></title>
  </head>
  <body>
    <%- include("partials/header") %>

    <main>
      <h2>my drive</h2>

      <!-- current path -->
      <div class="row gap-s">
        <b>Location:</b>
        <span class="row">
          <a href="/drive/root">root</a>
          <% locals.parentFolders.forEach((parentFolder) => { %> /
          <a href="/drive/<%= parentFolder.id %>"> <%= parentFolder.name %> </a>
          <% }) %>
        </span>
      </div>

      <!-- current folder -->
      <div>
        <b>Folder: </b>
        <span>
          <%= locals.pageTitle %>
        </span>
        <button
          class="edit-folder-button"
          data-folder-id="<%= locals.folderId %>"
          data-folder-name="<%= locals.pageTitle %>"
        >
          Edit
        </button>
      </div>

      <!-- child folders -->
      <div>
        <h3>Folders</h3>
        <ul>
          <% if (locals.childFolders) { %>

          <% locals.childFolders.forEach((childFolder) => { %>
          <li>
            <div>
              <a href="/drive/<%= childFolder.id %>">
                <%= childFolder.name %>
              </a>
              —
              <button
                class="edit-folder-button"
                data-folder-id="<%= childFolder.id %>"
                data-folder-name="<%= childFolder.name %>"
              >
                Edit
              </button>
            </div>
          </li>

          <% }) %>
          <% } %>
        </ul>
      </div>

      <button id="create-folder-button">Add Folder</button>

      <%- include("partials/modals/create-folder") %>
      <%- include("partials/modals/edit-folder") %>
    </main>
  </body>
</html>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    if ("<%= locals.modal %>" === "createFolder") {
      const createFolderModal = document.getElementById("create-folder-modal");
      createFolderModal.style.display = "block";

      createFolderModal.querySelector("input#folderName").focus();
    }
    if ("<%= locals.modal %>" === "editFolder") {
      const editFolderModal = document.getElementById("edit-folder-modal");
      editFolderModal.style.display = "block";

      const editFolderInput = editFolderModal.querySelector("input#folderName");

      editFolderInput.focus();
      editFolderInput.select();
    }
  });
</script>
