<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <script src="/js/eventListeners.js" defer></script>
    <title><%= locals.pageTitle %> | <%= locals.appTitle %></title>
  </head>
  <body>
    <%- include("partials/header") %>

    <main>
      <h2>my drive</h2>

      <!-- current path -->
      <div class="row gap-s">
        <b>Location:</b>
        <span class="row">
          <a href="/drive/folder/root" class="underline-hover">root</a>
          <% locals.parentFolders.forEach((parentFolder) => { %> /
          <a
            href="/drive/folder/<%= parentFolder.id %>"
            class="underline-hover"
          >
            <%= parentFolder.name %>
          </a>
          <% }) %>
        </span>
      </div>

      <!-- current folder -->
      <div class="row gap-s">
        <b>Current Folder: </b>
        <span>
          <%= locals.pageTitle %>
        </span>
        —
        <!-- tools -->
        <div class="row gap-s">
          <!-- ============== if not in root ============== -->
          <% if (locals.folderId !== "root") { %>

          <!-- edit -->
          <button
            class="edit-folder-button"
            data-folder-id="<%= locals.folderId %>"
            data-folder-name="<%= locals.pageTitle %>"
          >
            Edit
          </button>

          <!-- delete -->
          <form
            action="/drive/folder/<%= locals.folderId %>/delete"
            method="post"
          >
            <input
              type="text"
              name="currentFolderId"
              value="<%= locals.folderId %>"
              hidden
            />
            <button
              type="submit"
              onclick="
                return confirm(
                  'Are you sure you want to delete &quot;<%= locals.pageTitle %>&quot; and all its contents?',
                );
              "
            >
              Delete
            </button>
          </form>
          <% } %>

          <!-- ============== if in root ============== -->
          <% if (locals.folderId === "root") { %>
          <!-- delete -->
          <form
            action="/drive/folder/<%= locals.folderId %>/delete"
            method="post"
          >
            <input
              type="text"
              name="currentFolderId"
              value="<%= locals.folderId %>"
              hidden
            />
            <button
              type="submit"
              onclick="
                return confirm(
                  'Are you sure you clear your entire drive of all its contents?',
                );
              "
            >
              Clear Drive
            </button>
          </form>

          <% } %>
        </div>
      </div>

      <!-- child folders -->
      <div>
        <h3>Sub Folders</h3>
        <ul>
          <% if (locals.childFolders) { %>

          <% locals.childFolders.forEach((childFolder) => { %>
          <li>
            <div class="row gap-s">
              <a href="/drive/folder/<%= childFolder.id %>">
                <%= childFolder.name %>
              </a>
              —
              <!-- tools -->
              <div class="row gap-s">
                <!-- edit folder -->
                <button
                  class="edit-folder-button"
                  data-folder-id="<%= childFolder.id %>"
                  data-folder-name="<%= childFolder.name %>"
                >
                  Edit
                </button>

                <!-- delete folder -->
                <form
                  action="/drive/folder/<%= childFolder.id %>/delete"
                  method="post"
                >
                  <input
                    type="text"
                    name="currentFolderId"
                    value="<%= locals.folderId %>"
                    hidden
                  />
                  <button
                    type="submit"
                    onclick="
                      return confirm(
                        'Are you sure you want to delete &quot;<%= childFolder.name %>&quot; and all its contents?',
                      );
                    "
                  >
                    Delete
                  </button>
                </form>
              </div>
            </div>
          </li>

          <% }) %>
          <% } %>
        </ul>
      </div>

      <!-- files -->
      <div>
        <h3>Files</h3>
        <ul>
          <% if (locals.files) { %>
          <% files.forEach((file)=> { %>

          <li>
            <div class="row gap-s">
              <%= file.name %>
              <!-- tools -->
              <div class="row gap-s">
                <!-- edit file -->
                <button
                  class="edit-file-button"
                  data-file-id="<%= file.id %>"
                  data-file-name="<%= file.name %>"
                >
                  Edit
                </button>
              </div>
            </div>
          </li>
          <% }) %>
          <% } %>
        </ul>
      </div>

      <button id="create-folder-button">Add Folder</button>
      <button id="add-files-button">Add Files</button>

      <%- include("partials/modals/create-folder") %>
      <%- include("partials/modals/edit-folder") %>
      <%- include("partials/modals/add-files") %>
      <%- include("partials/modals/edit-file") %>
    </main>
  </body>
</html>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    if ("<%= locals.modal %>" === "createFolder") {
      const createFolderModal = document.getElementById("create-folder-modal");
      createFolderModal.style.display = "block";

      createFolderModal.querySelector("input#folderName").focus();
    }
    if ("<%= locals.modal %>" === "editFolder") {
      const editFolderModal = document.getElementById("edit-folder-modal");
      editFolderModal.style.display = "block";

      const editFolderInput = editFolderModal.querySelector("input#folderName");

      editFolderInput.focus();
      editFolderInput.select();
    }
    if ("<%= locals.modal %>" === "addFiles") {
      const addFilesModal = document.getElementById("add-files-modal");
      addFilesModal.style.display = "block";
    }
  });
</script>
